$color-1: #fff;
$color-2: #62c017;
$color-3: #222;
$color-4: #2d2d2d;
$color-menu-1: #999;
$color-menu-2: #333;
$color-jump-1: #242021;
$color-jump-2: #474747;
$color-jump-3: #656565;
$color-jump-4: #555555;



$color-5: #373737;
$color-6: #242424;
$color-7: #8f8f8f;


$base-unit: 1rem;

$h1-font-size: $base-unit * 3.625;
$h2-font-size: $base-unit * 3.125;